@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    background-color: #fafafa;
}
.container{
    /* background-color: blue; */
    margin-top: 64px;
    display: flex;
    flex-direction: column;
    
}
.barrasuperior{
    background-color: #ec362d;
    width: 100vw;
    height: 64px;
    position: fixed;
    top:0;
    left:0;
    z-index: 5;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 37px;
    font-weight: 700;
    color: white;

    box-shadow: 0px 0px 10px 0px #111111;
}
.quizzesUsuario{
    /* background-color: chocolate; */
    height: 181px;
    border: 1px dashed #D5D5D5;
    border-radius: 5px;
    width: 80%;
    margin:80px auto;
    display: flex;
    justify-content: center;
    align-items: center;

}
.caixaBotaoCriar{
    /* background-color: burlywood; */
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
}
.caixaBotaoCriar p {
    color: #b9b9b9;
    text-align: center;

}
.caixaBotaoCriar button{
    border: 1px dashed #EC362D;
    color: #EC362D;
    background-color: transparent;
    font-size: larger;
    font-weight: 500;
    border-radius: 50px;
    padding: 10px;
    box-sizing: border-box;
    margin: 0 auto;
    
}
.quizzesServidor{
    /* background-color: darkmagenta; */
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    /* align-items: center; */

    
    
}
.quizzesServidor h1{
    font-size: 20px ;
    font-weight: 700;
    margin-bottom: 12px;
    /* background-color: aquamarine; */
    /* text-align: ; */


}
.listaDeQuizzes{
    /* background-color: #EC362D; */
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* overflow-y: scroll; */
}
.visualizacaoQuizz{
    width: 353px;
    height: 181px;
    border-radius: 5px;
    margin-bottom: 10px; 
    position: relative;
    
    
}
.visualizacaoQuizz img{
    width: 353px;
    height: 181px;
    border-radius: 5px;
    /* -webkit-mask-image: linear-gradient(to top, transparent 10%, black 100%); */
    
}
.tituloQuizzPedro{
    background-color: transparent;
    position:absolute;
    bottom: 7px;
    left: 18px;
    z-index: 4;
    width: 300px;
    font-size: 19px;
    font-weight: 400;
    color: white;
    overflow-wrap: break-word;
}
.degrade{
    width: 353px;
    height: 181px;
    border-radius: 5px;
    position:absolute;
    top: 0;
    left:0;
    z-index: 3;
    background: rgb(244,242,242);
    background: linear-gradient(180deg, rgba(244,242,242,0.2497373949579832) 0%, rgba(0,0,0,0.9808298319327731) 90%);
}
@media(max-width: 1100px){
    .listaDeQuizzes{
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        /* justify-content: space-between; */
        
    }
}